PORT=3000
PUBLIC_URL=http://localhost:3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=realworld
DATABASE_URL=postgresql://postgres:postgres@postgres/realworld
JWT_SECRET="jwt-secret-dev"
JWT_ISSUER=Realworld
JWT_EXP=86400